amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.0
beautifulsoup4==4.5.3
billiard==3.3.0.23
celery==3.1.25
cycler==0.10.0
Django==1.10.5
django-celery==3.2.1
django-registration==2.2
functools32==3.2.3.post2
Jinja2==2.9.5
kombu==3.0.37
lxml==3.7.2
MarkupSafe==0.23
matplotlib==2.0.0
mpld3==0.3
numpy==1.12.0
packaging==16.8
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
requests==2.13.0
six==1.10.0
South==1.0.2
stripe==1.46.0
subprocess32==3.2.7
uWSGI==2.0.14
